h1 {
  text-align: center;
}


.canvas {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.square {
  height: 39px;
  width: 39px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-top: 1px;
  margin-right: 1px;
}

.black {
  background-color: #000;
}

.controls {
  width: 220px;
  margin: 0 auto;
}
